.img-100 {
    max-width: 100%;
    max-height: 100%;
}

.img-75 {
    max-width: 75%;
    max-height: 75%;
}

.img-50 {
    max-width: 50%;
    max-height: 50%;
}

.confirm-modal *{
    line-height: 15px;
}

nick-modal div {
    background-color: black !important
}