.tournament-ranking-btn {
    background: #2D2D2D;
    color: #E9E9E9;
    min-width: 133px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    height: 38px;
    border-radius: 10px;
    border: none;
    margin: 6px
}