html, body {
    height: 100%;
}

.tab-content{
    height: 100%;
}

.pc-card-header{
    width: 100%;
    margin-right: 8%;
}

.pc-card-info{
    width: 50%;
}

.header-item-info{
    width: 52%;
    position: relative;
    right: 5%;
}