li.nav-item {
    background: #161616;
    border-top-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
    border: white white #161616;
}

.tab-pane {
    background-color: #161616;
    border-radius: 0.7rem;
}

.rounded-bottom-tab {
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.card-tournament-info {
    border: none;
}
