.background-blackdegrade {
    background: linear-gradient(180deg, #404040 0%, #0A0A0A 100%);
    max-width: 19rem;
}

header h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.menus {
    width: max-content;
    min-width: 19rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
}

.selecionado {
    background: linear-gradient(46.67deg, #EE322F -21.02%, #FEE53A 108.85%);
    border-radius: 5px;
}

.left-section {
    width: 20%;
    margin-right: 2%;
}

.right-section {
    background: linear-gradient(180deg, #404040 0%, #0A0A0A 100%);
    width: 100%;
    padding: 3rem;
    border-radius: 5px;
}

.bottom-form {
    display: flex;
    flex-wrap: wrap;
}

.top-form {
    margin-bottom: 2rem;
}

.bottom-form {
    flex-wrap  : 2rem;
}


.top-form nick-input {
    width: 30%;
    margin-left: 1rem 
}

.bottom-form nick-input {
    
    min-width: 48%;
    margin: 1rem 0 0 1rem;
}

.mid-form {
    display: flex;
    flex-wrap: wrap;
}

.mid-form nick-input {
    display: flex;
    margin-left: 1rem;
    min-width: 17.6%;
}

.mid-form label {
    white-space: nowrap;
}

.pure-material-checkbox {
    cursor: pointer;
}

.pure-material-checkbox>input {
    opacity: 0;
    -webkit-appearance: none;
    position: relative;
    top: 37.7rem;
    left: 29.2rem;
}

.pure-material-checkbox>span::after {
    content: "";
    display: block;
    position: absolute;
    top: 37.6rem;
    right: 89.6rem;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

.pure-material-checkbox>input:checked+span::after, .pure-material-checkbox>input:indeterminate+span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 0, 0, 0));
}

.pure-material-checkbox>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
    color: rgb(116, 121, 140);
}

.pure-material-checkbox>input:checked+span::before, .pure-material-checkbox>input:indeterminate+span::before {
    border: 0px solid rgba(255, 0, 0, .5);
    background: linear-gradient(46.67deg, #EE322F -21.02%, #FEE53A 108.85%);
}

.pure-material-checkbox span {
    color: rgb(116, 121, 140);
    font-size: 0.875rem;
}

.right-section .save-btn {
    background: linear-gradient(46.67deg, #EE322F -21.02%, #FEE53A 108.85%);
    border-radius: 5px;
    border: none;
    color: white;
    margin-right: 1.5rem;
    max-width: fit-content;
    min-height: 3rem;
    padding: 0.5rem;
}

.font-weight-700 {
    font-weight: 700;
}

.color-primary {
    color: #F1A035;
}

.active-menu {
    display: flex !important;
}

.cursor-pointer {
    cursor: pointer;
}

.tab-underline {
    max-width: 100.0%;
    margin-bottom: 2rem;
    padding-bottom: 8px;
    height: 3px;
    width: 100%;
    border-bottom: 2px solid #ffffff34;
    position: relative;
}

.tab-underline:after {
    content: "";
    position: absolute;
    bottom: -1.5px;
    left: 0;
    width: 150px;
    height: 3px;
    background: linear-gradient(46.67deg, #EE322F -21.02%, #FEE53A 108.85%);
    transition: 0.6s ease;
}

.tab-underline.inactiveSelected:after {
    width: 150px !important;
    left: 10rem !important;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.anim-menu {
    margin-left: 5rem
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}

.color-grey-700 {
    color: #74798C;
}

.top-left-side-menu {
    text-align: -webkit-center;
}