<!-- Card conteudo -->
<div class="card-gradient d-lg-flex p-3 text-center text-lg-start mb-2 mb-sm-0 me-sm-2 w-100 mb-3" style="border: none !important">
    <img style="max-width: 100%;" class="image-100 rounded-10" src="../../assets/aprenda-1.png" alt="">
    <div class="d-flex flex-column ps-lg-4">
        <h6 class="my-3">Primeiros passos - Criptomoedas</h6>
        <p>Aprenda como iniciar no mercado de criptomoedas com profissionais renomados do mercado! São 16 horas de mentoria exclusiva e gratuita!</p>
        <button class="ms-4 btn-arena-12black arena-border w-50 ww-lg-25 me-lg-auto mx-1 rounded-7">Saiba
            mais</button>
    </div>
</div>