<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../main.css">
</head>

<section>

    <!-- ANCHOR Card Liga -->

    <div class="d-flex tournament-card-container">
        <div class="card-item w-100">
            <div class="d-flex flex-column ms-3 card-tournament">
                <!-- ANCHOR Card Info Liga -->
                <div class="card-tournament-info">
                    <div class="d-flex flex-column flex-md-row">
                        <div class="d-flex w-100">
                            <img src="../../assets/te-logo-liga.png" class="img-35 d-md-none" alt="">
                            <img src="../../assets/te-logo-liga.png" class="img-100 d-none d-md-block" alt="">
                            <div class="d-md-none d-flex text-center flex-column justify-content-center w-100">
                                <!-- Tags -->
                                <div class="d-flex justify-content-center">
                                    <span class="badge abg-cripto">Cripto</span>
                                    <span class="badge mx-2 abg-future" style="color: white">Futuros</span>
                                    <span class="badge abg-actives">Ações</span>
                                </div>
                                <!-- Titulo -->
                                <div class="h-100 d-flex justify-content-center align-items-center">
                                    <h6>Arena Trader Evolution</h6>
                                </div>
                            </div>
                        </div>

                        <div class="text-center w-100 mt-3">
                            <div class="w-100 d-flex justify-content-center align-items-center">
                                <h2>Arena Trader Evolution</h2>
                            </div>
                            <p>A Arena oficial da plataforma TraderEvolution</p>
                            <p>@traderevolution</p>
                        </div>
                    </div>

                    <!-- ANCHOR Flex Valor/Botões -->
                    <div class="d-flex justify-content-around d-md-none">
                        <button class="btn-arena-12black with-icon arena-border rounded-3 mx-3 py-1 w-50">Seguir <i
                                class="material-icons ms-2">person_add</i> </button>
                        <button class="btn-arena-12black arena-border rounded-3 w-50 mx-1 py-1">Solicitar
                            convite</button>
                    </div>
                    <!-- ANCHOR Botões PC -->
                    <div class="align-items-end pt-3 d-none d-md-flex flex-column w-100">
                        <button class="btn-arena-12black with-icon arena-border ww-25 rounded-3 py-1">Seguir <i
                                class="material-icons ms-2">person_add</i> </button>
                        <button class="btn-arena-12black arena-border rounded-3 ww-25 my-2 py-1">Solicitar
                            convite</button>
                        <div class="d-flex ww-25 justify-content-center">
                            <span class="badge abg-cripto">Cripto</span>
                            <span class="badge mx-2 abg-future" style="color: white">Futuros</span>
                            <span class="badge abg-actives">Ações</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>