<div class="d-flex tournament-card-container">
    <div class="card-item me-3 ww-sm-auto w-100">
        <!-- ANCHOR Card Tipo/participantes -->
        <div class="d-flex flex-column ms-3 card-tournament">
            <div class="d-flex w-100">
                <div class="t-cripto t-header rounded-top d-flex justify-content-center">
                    <span>Criptomoedas</span>
                </div>
            </div>
            <!-- ANCHOR Card Info Torneio -->
            <div class="card-tournament-info">
                <div class="d-flex">
                    <span>Arena Express</span>
                    <div class="ms-auto d-flex">
                        <i class="material-icons me-1">group</i>
                        <span>32/100</span>
                    </div>
                </div>
                <p>Liga: <b>Arena GoTrade</b></p>
                <!-- ANCHOR Flex Icones -->
                <div class="d-flex w-100" style="justify-content: space-around; padding: 14px 0px; border-top: 1px solid #74798C; border-bottom: 1px solid #74798C;">
                    <div class="flex-column d-flex align-items-center">
                        <span>Premio Máx</span>
                        <div style="margin: 8px 0px;" class="letter-card-small">A</div>
                        <b>R$ 1.700*</b>
                    </div>

                    <div class="d-flex flex-column align-items-center">
                        <span>Duração</span>
                        <i class="material-icons card-icon">timer</i>
                        <b>2 Dias</b>
                    </div>

                    <div class="d-flex flex-column align-items-center">
                        <span>Participantes</span>
                        <i class="material-icons card-icon">group</i>
                        <b>100</b>
                    </div>

                    <div class="d-flex flex-column align-items-center">
                        <span>Saldo ficticio</span>
                        <i class="material-icons card-icon">account_balance_wallet</i>
                        <b>T$ 5.000</b>
                    </div>
                </div>

                <span class="d-flex justify-content-center my-3 fw-bold arena-orange-text">Tabela de
                    premiação</span>
                <!-- ANCHOR Flex Valor/Botões -->
                <div class="d-flex justify-content-between">
                    <!-- ANCHOR Valor -->
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <p>Inscrição</p>
                        <!-- ANCHOR Flex icone moeda/valor -->
                        <div class="mb-3 d-flex">
                            <img class="me-1" src="../../assets/monetization_on.png" alt="">
                            <b>10,00</b>
                        </div>
                    </div>
                    <!-- ANCHOR Flex Botões -->
                    <div class="d-flex">
                        <button class="transparent-grey-button with-icon"><i class="material-icons">add</i>
                            Detalhes</button>
                        <button class="subscribe-button">Inscrever</button>
                    </div>
                </div>
                <!-- ANCHOR Flex time inicio/fim -->
                <div class="justify-content-around d-flex">
                    <div class="me-1 d-flex">
                        <i class="material-icons me-2">access_time</i>
                        <span class="arena-light-grey-text">Inicio: <b>21/09 09:00</b></span>
                    </div>

                    <div class="ms-1 d-flex">
                        <i class="material-icons me-2">access_time</i>
                        <span class="arena-light-grey-text">Término: <b>22/09 18:00</b></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>