<!-- Lista -->
<div class="w-100">
    <table class="arena-table w-100 text-center">
        <tr class="arena-grey-text">
            <td>4º</td>
            <td>Heitor Gabriel Nunes</td>
            <td class="arena-orange-text">+ 311,11</td>
        </tr>
        <tr class="arena-grey-text">
            <td>5º</td>
            <td>Griffin</td>
            <td class="arena-orange-text">+ 311,11</td>
        </tr>
        <tr class="arena-grey-text">
            <td>6º</td>
            <td>Swanson</td>
            <td class="arena-orange-text">+ 311,11</td>
        </tr>
        <tr class="arena-grey-text">
            <td>7º</td>
            <td>Brown</td>
            <td class="arena-orange-text">+ 311,11</td>
        </tr>
    </table>
</div>