.form-group input, .form-group input:focus, .form-group input:disabled  {
    background: #111111;
    border-radius: 4px;
    color: #FFFFFF;
    padding: .8rem .9rem;
    border-color: none;
    box-shadow: none;
}

label {
    font-weight: 700;
    margin-bottom: .75rem;
}

label span {
    color: 700;
}

.with-icon-right .material-icons {
    position: relative;
    top: 4.2rem;
    left: 94%;
}

