.form-group textarea, .form-group textarea:focus, .form-group textarea:disabled {
    background: #111111;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 0.8rem 0.9rem;
    border-color: none;
    box-shadow: none;
}