.arena-menu-aside-container > div {
    width: 77px;
    height: 77px;
    border-bottom: 1px solid #ffffff34;
}

.arena-menu-aside-container {
    max-width: 77px;
}

.top-65 {
    top: 65px;
}

.page-router-container {
    border-left: 1.5px solid #ffffff34;
    border-top: 1.5px solid #ffffff34;
}

.beta-ml-76 {
    margin-left: 76px;
}

.beta-mt-64 {
    margin-top: 64px;
}

.background-orange-gradient {
    background: linear-gradient(46.67deg, #ee322f -21.02%, #fee53a 108.85%);
}
