.card-gradient {
    background: $arena-black-gradient-background;
    border: $arena-border;
    border-radius: $Tcard-border-radius;
    color: $arena-card-white-color;
}

.arena-border{
    border: $arena-border;
}