.sub-card {
    display: flex;
    border: 1px solid #464646;
    border-radius: 5px;
    margin: 0 6px;
    flex-direction: column;
    min-width: 6rem;
    min-height: 6rem;
    align-items: center;
    justify-content: center;
}