.card-tournament-info {
    background: #090c12;
    border-radius: $sp-6;
    width: auto;
    height: auto;
    padding: 1rem;
    border: $arena-border;
}

.card-tournament {
    background: $transparent-blue;
    border-radius: $sp-6;
    border: $arena-border;
    border-bottom: 0px !important;
    width: fit-content;
}

.card-tournament:first-of-type{
    margin-left: 0 !important;
}

// Responsivo

@include media-breakpoint-down(md) {
    .card-tournament {
      font-size: small;
    }
  }